@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

.work-sans-fonts{
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
/* *,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
} */

/* shared styles */
.display-flex{
  display: flex;
}
.btn-primary{
  background-color: #FF900E;
  color: white;
  font-size: 1.25rem;
  font-weight: 600;
  padding: 20px 25px;
  border-radius: 8px;
  border: none;
}

/* dark-2 */
.text-gray{
  color: #424242;
}
/* dark-3 */
.text-light-gray{
  color: #727272;
}
.bg-light{
  background-color: rgba(255, 144, 14, 0.1);
}

/* header styles */


/* navber style */

.brand{
  font-size: 3rem;
  font-weight: 700;
}
.navber{
  justify-content: space-between;
  align-items: center;
}
.nav-item{
  list-style: none;
  margin-right: 40px;
}
.nav-link{
  text-decoration: none;
  color: #727272;
  font-size: 18px;
  font-weight: 500; 
}

.navber, .banner{
  max-width: 1440px;
  margin: 0 auto;
 
}
/* banner styles */
.banner-content{
  max-width: 850px;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 50px;
  
}
.banner-title{
  font-size: 4rem;
  font-weight: 700;
  color: #131313;
}
.banner-description{
  font-size: 1rem;
  color: #727272;
}
.banner-image{
  width: 100%;
}

main{
  max-width: 1440px;
  margin: 0 auto;
}
main > section{
  margin-top: 130px;
}

/* teams and features styles */
.teams{
  align-items: center;
  display: flex;

}
.our-features{
  margin-left: 130px;
  max-width: 530px;
}

.team-img-container{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 24px;

}
.feature-title{
  font-size: 2.8rem;
  font-weight: 500;
  color: #727272;
}
.feature-text1{
   font-weight: 700;
  color: #131313;
}
.feature-text2{
  color: #FF900E;
  font-weight: 700;
}
.feature-description{
  color: #727272;
}
/* icons styles */
.fact-container{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.facts-card{
  border: 1px solid #FF900E;
  width: 240px;
  height: 240px;
  border-radius: 8px;
  align-items: center;
  justify-content: center;
  text-align: center;

}
.fact-number{
 font-size: 2.8rem;
 font-weight: 600;
  color: #424242;
  margin-top: 5px;
  margin-bottom: 10px;
  
}
.fact-name{
  font-size: 1.25rem;
  font-weight: 600;
  color: #727272;
  margin-top: 10px;
  
}
.fact-description{
  max-width: 540px;
}


/* media query */
@media screen and (max-width:576px) {
  .navber, .nav-links, .teams{
    flex-direction: column;
  }
  .team-img-container{
    grid-template-columns: repeat(1, 1fr);
   
  }
  .our-features{
    margin: 20px;
  }
}

/* mediam device media query */
@media screen and (min-width:576px) and (max-width:992px) {
  .navber, .nav-links, .teams{
    flex-direction: column;
  }
   .team-img-container{
    grid-template-columns: repeat(2, 1fr);
   
  }
  .our-features{
    margin: 50px auto;
  }
}
